
/* body
{
    overflow: hidden;
} */

#splash-wallpaper
{
   position: absolute;
    top: 10%;
    padding: 10px;
    margin-top: -65px;
    background-image: url("{{ site.baseurl }}/assets/images/splash-wallpaper.jpg");
    height: 45rem;
    width: 20rem;
}

.header
{
    margin: auto;
    padding: 0%;
    right: 0;
    font-size: 18px;
    display: block;
    position: absolute;
    border: red 1px solid;
}

form
{
    position: fixed;
    right: 110%;
    top: auto;
    padding: 10px;
    border: red 1px solid;
}

#user-info
{
    display: block;
    position: absolute;
    right: 0;
    /* text-align: right; */
    border: red 1px solid;
    padding: 15px;
}

.input
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: red 1px solid;
}

#login
{
    margin: auto;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

#submit-button
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 10px; */
    font-size: 20px;
    background-color: #596D48;
    color: #FFFFFF;
    border-radius: 13px;
}