body
{
    background-color: lightgray;
}

#splash-wallpaper
{
   position: absolute;
    top: 10%;
    padding: 10px;
    margin-top: -65px;
    background-image: url("{{ site.baseurl }}/assets/images/splash-wallpaper.jpg");
    height: 45rem;
    width: 20rem;
}

.header
{
    background-color: gainsboro;
    padding: 1.5%;
    font-size: 18px;
    display: inline-block;
    position: relative;
    top: 85px;
    left: 400px;
    /* border: red 1px solid; */
}

form
{
    width: 49%;
    position: fixed;
    left: 400px;
    top: 350px;
    padding: 10px;
    /* border: red 1px solid; */
    background-color: gainsboro;
}

.form-container
{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%; /* adjust the width as needed */
    height: 100vh; /* takes full height of the viewport */
    padding: 20px; /* set desired padding */
    box-sizing: border-box; /* include padding and border in the element's total width and height */  
}


.input
{
    display: inline-block;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    padding: 6px;
    /* border: red 1px solid; */
}

#login
{
    font-family: 'Roboto', sans-serif;
    top: 560px;
    left: 420px;
    display: block;
    position: relative;
}

#submitButton
{
    top: 550px;
    position: relative;
    margin: 10px;
    height: 40%;
    width: 30%;
    left: 400px;
}

#submit-button
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    /* background-color: #596D48; */
    color: #FFFFFF;
    border-radius: 13px;
}